---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import About from '../components/About.astro';
import MissionVision from '../components/MissionVision.astro';
import Values from '../components/Values.astro';
import Clients from '../components/Clients.astro';
import MapBanner from '../components/MapBanner.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="SAPINF - Innovación en Software y Consultoría">
	<Navbar />
	<main>
		<Hero />
		<MapBanner />
		<Services />
		<Products />
		<About />
		<MissionVision />
		<Values />
		<Clients />
	</main>
	<Footer />
</Layout>
